header{
	background-color: #0000cc; 
	padding: 40px 40px 40px 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 150px;
	
}
/*<header>
		<img src="img/profile.jpg">
		<h1>Wreck-it Ralph</h1>
</header>*/
