header{
	background-color: #000080;
	padding: 40px;
}

h1{
	font-size: 90px;
	color: white;
}

header img {
    border-radius: 231px;
    width: 300px;
    border: 24px solid #cc0000;
}


/*<header>
		<img src="img/profile.jpg">
		<h1>Wreck-it Ralph</h1>	
	</header>*/